examples/xml-only-soap-webservice/BackEndServiceRegistry/EHRService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="EHRService"
	xmlns:mes="http://wso2.org/hospital-admission-service" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
	targetNamespace="http://wso2.org/hospital-admission-service/ehr/1.0" 
	xmlns:tns="http://wso2.org/hospital-admission-service/ehr/1.0">
	
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://wso2.org/hospital-admission-service" schemaLocation="xsd/SOA-Message-1.0.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createEpisode">
		<wsdl:part element="mes:createEpisode" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createEpisodeResponse">
		<wsdl:part element="mes:createEpisodeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="findEpisodes">
		<wsdl:part element="mes:findEpisodes" name="parameters" />
	</wsdl:message>
	<wsdl:message name="findEpisodesResponse">
		<wsdl:part element="mes:findEpisodesResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="episodesFault">
		<wsdl:part element="mes:episodesFault" name="fault" />
	</wsdl:message>
	<wsdl:portType name="EHR">
		<wsdl:operation name="createEpisode">
			<wsdl:input message="tns:createEpisode" />
			<wsdl:output message="tns:createEpisodeResponse" />
			<wsdl:fault name="episodesFault" message="tns:episodesFault" />
		</wsdl:operation>
		<wsdl:operation name="findEpisodes">
			<wsdl:input message="tns:findEpisodes" />
			<wsdl:output message="tns:findEpisodesResponse" />
			<wsdl:fault name="episodesFault" message="tns:episodesFault" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EHRSoap" type="tns:EHR">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createEpisode">
			<soap:operation soapAction="http://wso2.org/hospital-admission-service/ehr/createEpisode" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="episodesFault">
				<soap:body use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="findEpisodes">
			<soap:operation soapAction="http://wso2.org/hospital-admission-service/ehr/findEpisodes" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="episodesFault">
				<soap:body use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EHRService">
		<wsdl:port binding="tns:EHRSoap" name="EHRPort"/>
	</wsdl:service>
</wsdl:definitions>
