migration/mule/sample-backend-services/resources-backend-service/tshirt.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="TshirtService"
	targetNamespace="http://wso2.org/tshirt-service"
	xmlns:ms="http://wso2.org/tshirt-service"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:types>

		<xsd:schema
			targetNamespace="http://wso2.org/tshirt-service"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="ListInventory">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="ListInventoryResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="inventory" type="ms:InventoryItem"
							maxOccurs="unbounded" minOccurs="1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="InventoryItem">
				<xsd:sequence>
					<xsd:element name="productCode" type="xsd:string" />
					<xsd:element name="size" type="ms:Size" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="count" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="Size">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="S" />
					<xsd:enumeration value="M" />
					<xsd:enumeration value="L" />
					<xsd:enumeration value="XL" />
					<xsd:enumeration value="XXL" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:element name="OrderTshirt">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="size" type="ms:Size" />
						<xsd:element name="email" type="xsd:string" />
						<xsd:element name="name" type="xsd:string" />
						<xsd:element name="address1" type="xsd:string" />
						<xsd:element name="address2" type="xsd:string" />
						<xsd:element name="city" type="xsd:string" />
						<xsd:element name="stateOrProvince" type="xsd:string" />
						<xsd:element name="postalCode" type="xsd:string" />
						<xsd:element name="country" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="OrderTshirtResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="orderId" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="TrackOrder">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="email" type="xsd:string" />
						<xsd:element name="orderId" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="TrackOrderResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="orderId" type="xsd:string" />
						<xsd:element name="status" type="xsd:string" />
						<xsd:element name="size" type="ms:Size" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="AuthenticationHeader">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="apiKey" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="APIUsageInformation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="apiCallsRemaining"
							type="xsd:integer" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="TshirtFault">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="errorMessage" type="xsd:string" />
					</xsd:all>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="OrderTshirt">
		<wsdl:part name="body" element="ms:OrderTshirt" />
	</wsdl:message>

	<wsdl:message name="OrderTshirtResponse">
		<wsdl:part name="body" element="ms:OrderTshirtResponse" />
	</wsdl:message>

	<wsdl:message name="ListInventory">
		<wsdl:part name="body" element="ms:ListInventory" />
	</wsdl:message>

	<wsdl:message name="ListInventoryResponse">
		<wsdl:part name="body" element="ms:ListInventoryResponse" />
	</wsdl:message>

	<wsdl:message name="TrackOrder">
		<wsdl:part name="body" element="ms:TrackOrder" />
	</wsdl:message>

	<wsdl:message name="TrackOrderResponse">
		<wsdl:part name="body" element="ms:TrackOrderResponse" />
	</wsdl:message>

	<wsdl:message name="TshirtFault">
		<wsdl:part name="fault" element="ms:TshirtFault" />
	</wsdl:message>

	<wsdl:message name="APIUsageInformation">
		<wsdl:part name="header" element="ms:APIUsageInformation" />
	</wsdl:message>

	<wsdl:message name="AuthenticationHeader">
		<wsdl:part name="header" element="ms:AuthenticationHeader" />
	</wsdl:message>

	<!-- wsdl:portType describes messages in an operation -->
	<wsdl:portType name="TshirtServicePortType">

		<wsdl:operation name="OrderTshirt">
			<wsdl:input message="ms:OrderTshirt" />
			<wsdl:output message="ms:OrderTshirtResponse" />
			<wsdl:fault name="TshirtFault" message="ms:TshirtFault" />
		</wsdl:operation>

		<wsdl:operation name="ListInventory">
			<wsdl:input message="ms:ListInventory" />
			<wsdl:output message="ms:ListInventoryResponse" />
			<wsdl:fault name="TshirtFault" message="ms:TshirtFault" />
		</wsdl:operation>

		<wsdl:operation name="TrackOrder">
			<wsdl:input message="ms:TrackOrder" />
			<wsdl:output message="ms:TrackOrderResponse" />
			<wsdl:fault name="TshirtFault" message="ms:TshirtFault" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TshirtServiceSoapBinding"
		type="ms:TshirtServicePortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="OrderTshirt">

			<soap:operation
				soapAction="http://wso2.org/tshirt-service/order-tshirt" />

			<wsdl:input>
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
				<soap:header use="literal" part="header"
					message="ms:AuthenticationHeader" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
				<soap:header use="literal" part="header"
					message="ms:APIUsageInformation" />
			</wsdl:output>
			<wsdl:fault name="TshirtFault">
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
			</wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="ListInventory">

			<soap:operation
				soapAction="http://wso2.org/tshirt-service/list-inventory" />

			<wsdl:input>
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
			</wsdl:output>
			<wsdl:fault name="TshirtFault">
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="TrackOrder">

			<soap:operation
				soapAction="http://wso2.org/tshirt-service/track-order" />

			<wsdl:input>
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
				<soap:header use="literal" part="header"
					message="ms:AuthenticationHeader" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
				<soap:header use="literal" part="header"
					message="ms:APIUsageInformation" />
			</wsdl:output>
			<wsdl:fault name="TshirtFault">
				<soap:body use="literal"
					namespace="http://wso2.org/tshirt-service" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TshirtService">
		<wsdl:documentation></wsdl:documentation>

		<!-- connect it to the binding "EndorsementSearchSoapBinding" above -->
		<wsdl:port name="TshirtServicePort"
			binding="ms:TshirtServiceSoapBinding">

			<!-- give the binding an network address -->
<!-- 			<soap:address
				location="http://tshirt-service.wso2.io" /> -->
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
