examples/service-orchestration-and-choice-routing/ProcessOrderRegistry/orders.wsdl

<wsdl:definitions name="IProcessOrderService" targetNamespace="http://orders.wso2.org/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://orders.wso2.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <xs:schema elementFormDefault="unqualified" targetNamespace="http://orders.wso2.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="order" type="tns:order"/>
         <xs:element name="orderItem" type="tns:orderItem"/>
         <xs:element name="processOrder" type="tns:processOrder"/>
         <xs:element name="processOrderResponse" type="tns:processOrderResponse"/>
         <xs:element name="purchaseReceipt" type="tns:purchaseReceipt"/>
         <xs:complexType name="processOrder">
            <xs:sequence>
               <xs:element minOccurs="0" name="order" type="tns:order"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="order">
            <xs:sequence>
               <xs:element minOccurs="0" name="orderId" type="xs:string"/>
               <xs:element minOccurs="0" name="customer" type="tns:orderPerson"/>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:orderItem"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="orderPerson">
            <xs:sequence>
               <xs:element minOccurs="0" name="address" type="xs:string"/>
               <xs:element minOccurs="0" name="firstName" type="xs:string"/>
               <xs:element minOccurs="0" name="lastName" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="orderItem">
            <xs:sequence>
               <xs:element minOccurs="0" name="receipt" type="tns:purchaseReceipt"/>
               <xs:element minOccurs="0" name="manufacturer" type="xs:string"/>
               <xs:element minOccurs="0" name="name" type="xs:string"/>
               <xs:element minOccurs="0" name="productId" type="xs:string"/>
               <xs:element name="quantity" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="purchaseReceipt">
            <xs:sequence>
               <xs:element minOccurs="0" name="id" type="xs:string"/>
               <xs:element minOccurs="0" name="status" type="tns:status"/>
               <xs:element name="totalPrice" type="xs:float"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="processOrderResponse">
            <xs:sequence>
               <xs:element minOccurs="0" name="summary" type="tns:order"/>
            </xs:sequence>
         </xs:complexType>
         <xs:simpleType name="status">
            <xs:restriction base="xs:string">
               <xs:enumeration value="OK"/>
               <xs:enumeration value="FAIL"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="processOrderResponse">
      <wsdl:part element="tns:processOrderResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="processOrder">
      <wsdl:part element="tns:processOrder" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="processFault">
      <wsdl:part element="tns:processFault" name="fault"/>
   </wsdl:message>
   <wsdl:portType name="IProcessOrder">
      <wsdl:operation name="processOrder">
         <wsdl:input message="tns:processOrder" name="processOrder"/>
         <wsdl:output message="tns:processOrderResponse" name="processOrderResponse"/>
         <wsdl:fault name="processFault" message="tns:processFault" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="IProcessOrderServiceSoapBinding" type="tns:IProcessOrder">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="processOrder">
         <soap:operation soapAction="processOrder" style="document"/>
         <wsdl:input name="processOrder">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="processOrderResponse">
            <soap:body use="literal"/>
         </wsdl:output>
         <wsdl:fault name="processFault">
				<soap:body use="literal" />
		 </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="IProcessOrderService">
      <wsdl:port binding="tns:IProcessOrderServiceSoapBinding" name="IProcessOrderPort"/>
   </wsdl:service>
</wsdl:definitions>